<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gojo</title>
  <%- include('components/web/url.ejs') %>
</head>
<body>
  <%- include('include/header.ejs') %>
  <center>
    <%- include('components/home/main.ejs') %>
    <%- include('components/home/bilgi.ejs') %>
    <%- include('components/home/discord.ejs') %>
    <%- include('include/footer.ejs') %>
  </center>
<script src="js/header.js"></script>
</body>
</html>
